<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>dentaku</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="dentaku.css">
    </head>

    <body class="text-center" style="background-color:#000000;">

        <div id="app">


            <div class="text-left">
                <P class="comon-text">
                    {{text}}
                </P>

                <button @click="addText(7,1)" type="button" class="btn btn-dark m-1">7</button>
                <button @click="addText(8,1)" type="button" class="btn btn-dark m-1">8</button>
                <button @click="addText(9,1)" type="button" class="btn btn-dark m-1">9</button>
                <br>
                <button @click="addText(4,1)" type="button" class="btn btn-dark m-1">4</button>
                <button @click="addText(5,1)" type="button" class="btn btn-dark m-1">5</button>
                <button @click="addText(6,1)" type="button" class="btn btn-dark m-1">6</button>
                <br>
                <button @click="addText(1,1)" type="button" class="btn btn-dark m-1">1</button>
                <button @click="addText(2,1)" type="button" class="btn btn-dark m-1">2</button>
                <button @click="addText(3,1)" type="button" class="btn btn-dark m-1">3</button>
                <br>
                <button @click="addText(0,1)" type="button" class="btn btn-dark m-1">0</button>
                <button @click="clearText()" type="button" class="btn btn-secondary m-1 width">C</button>
            </div>

            <div class="text-left">
                <P class="comon-text">
                    {{text2}}
                </P>

                <button @click="addText(7,2)" type="button" class="btn btn-dark m-1">7</button>
                <button @click="addText(8,2)" type="button" class="btn btn-dark m-1">8</button>
                <button @click="addText(9,2)" type="button" class="btn btn-dark m-1">9</button>
                <br>
                <button @click="addText(4,2)" type="button" class="btn btn-dark m-1">4</button>
                <button @click="addText(5,2)" type="button" class="btn btn-dark m-1">5</button>
                <button @click="addText(6,2)" type="button" class="btn btn-dark m-1">6</button>
                <br>
                <button @click="addText(1,2)" type="button" class="btn btn-dark m-1">1</button>
                <button @click="addText(2,2)" type="button" class="btn btn-dark m-1">2</button>
                <button @click="addText(3,2)" type="button" class="btn btn-dark m-1">3</button>
                <br>
                <button @click="addText(0,2)" type="button" class="btn btn-dark m-1">0</button>
                <button @click="clearText2()" type="button" class="btn btn-secondary m-1 width">C</button>
            </div>

            <div class="text-left">
                <button @click="plusBtn(0)" type="button" class="btn btn-warning m-1">足し算の結果とは...！？</button>
                <br>
                <button @click="minusBtn(0)" type="button" class="btn btn-warning m-1">引き算の結果とは...！？</button>
                <br>
                <button @click="kakeruBtn(0)" type="button" class="btn btn-warning m-1">掛け算の結果とは...！？</button>
                <br>
                <button @click="waruBtn(0)" type="button" class="btn btn-warning m-1">割り算の結果とは...！？</button>
            </div>

            <div class="text-left">
                <p class="comon-text">
                    {{answer}}
                </p>
                <div>
                    <button @click="clearText3()" type="button" class="btn btn-secondary m-1">AC</button>
                </div>
            </div>



        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    text: 0,
                    text2: 0,
                    answer: 0
                },
                methods: {
                    addText: function (number, textType) {

                        if (textType == 1) {
                            //textType1の時
                            this.text = this.text * 10 + number;
                        } else if (textType == 2) {
                            //textType2の時
                            this.text2 = this.text2 * 10 + number;
                        }
                    },
                    clearText: function () {
                        this.text = 0;
                    },

                    clearText2: function () {
                        this.text2 = 0;
                    },

                    clearText3: function () {
                        this.text = 0;
                        this.text2 = 0;
                        this.answer = 0;
                    },

                    plusBtn: function () {
                        this.answer = this.text + this.text2;
                    },

                    minusBtn: function () {
                        this.answer = this.text - this.text2;
                    },

                    kakeruBtn: function () {
                        this.answer = this.text * this.text2;
                    },

                    waruBtn: function () {
                        this.answer = this.text / this.text2;
                    },


                }

            });
        </script>

    </body>

</html>